apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: internal-root-ca
  namespace: cert-manager
spec:
  isCA: true
  commonName: internal-root-ca
  secretName: internal-root-ca
  duration: 87600h   # 10 years
  renewBefore: 720h  # 30 days
  privateKey:
    algorithm: RSA
    size: 4096
  issuerRef:
    name: internal-selfsigned
    kind: ClusterIssuer

