apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: osdu-core

resources:
  - ../../base
  - marker-configmap.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: osdu-core-env
    literals:
      - POSTGRES_HOST=
      - POSTGRES_PORT=
      - REDIS_HOST=
      - KAFKA_BOOTSTRAP_SERVERS=
      - OPENSEARCH_HOST=
      - OPENSEARCH_PORT=
      - KEYCLOAK_ISSUER_URI=
      - JAVA_OPTS=-Xms256m -Xmx512m
      - SERVER_PORT=8080
