apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: osdu-core

resources:
  - ../../base
  - marker-configmap.yaml
  # OPTIONAL:
  # - extra/00-keycloak-internal-dns-alias.yaml
  # - hooks/postsync-seed-osdu-partition.job.yaml

patchesStrategicMerge:
  - patches/patch-partition-env.yaml
  - patches/patch-storage-openid.yaml
  - patches/patch-entitlements.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: osdu-core-env
    literals:
      # --- CẤU HÌNH DATABASE & INFRA (theo output kubectl của bạn) ---
      - POSTGRES_HOST=osdu-postgres.osdu-data.svc.cluster.local
      - POSTGRES_PORT=5432
      - REDIS_HOST=osdu-redis.osdu-data.svc.cluster.local
      - KAFKA_BOOTSTRAP_SERVERS=osdu-kafka.osdu-data.svc.cluster.local:9092
      - OPENSEARCH_HOST=osdu-opensearch.osdu-data.svc.cluster.local
      - OPENSEARCH_PORT=9200

      # --- CẤU HÌNH IDENTITY ---
      # Khuyến nghị: dùng issuer đúng như /.well-known/openid-configuration đang trả về
      - KEYCLOAK_ISSUER_URI=http://keycloak.internal/realms/osdu

      # --- JAVA / PORT ---
      - JAVA_OPTS=-Xms256m -Xmx512m
      - SERVER_PORT=8080