apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: osdu-core

resources:
  - ../../base
  - marker-configmap.yaml
  - extra/00-keycloak-internal-dns-alias.yaml
  - hooks/postsync-seed-osdu-partition.job.yaml

patchesStrategicMerge:
  - patches/patch-partition-env.yaml
  - patches/patch-storage-openid.yaml
  - patches/patch-entitlements.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: osdu-core-env
    literals:
      # Data services in osdu-data
      - POSTGRES_HOST=osdu-postgres.osdu-data.svc.cluster.local
      - POSTGRES_PORT=5432
      - REDIS_HOST=osdu-redis.osdu-data.svc.cluster.local
      - REDIS_PORT=6379
      - KAFKA_BOOTSTRAP_SERVERS=osdu-kafka.osdu-data.svc.cluster.local:9092
      - OPENSEARCH_HOST=osdu-opensearch.osdu-data.svc.cluster.local
      - OPENSEARCH_PORT=9200

      # Keycloak issuer
      - KEYCLOAK_ISSUER_URI=http://keycloak.internal/realms/osdu
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak.internal/realms/osdu

      # JVM / server defaults
      - JAVA_OPTS=-Xms256m -Xmx512m -Djava.security.egd=file:/dev/./urandom
      - SERVER_PORT=8080
