apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: osdu-core

resources:
  - ../../base
  - namespace.yaml
  - marker-configmap.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: osdu-core-env
    literals:
      - POSTGRES_HOST=
      - POSTGRES_PORT=
      - REDIS_HOST=
      - KAFKA_BOOTSTRAP_SERVERS=
      - OPENSEARCH_HOST=
      - OPENSEARCH_PORT=
      - KEYCLOAK_BASE_URL=
      - KEYCLOAK_REALM=
      - KEYCLOAK_ISSUER_URI=

images:
  # Bạn có thể đổi newTag sang m23/m24 khi đã chắc tag tồn tại
  - name: community.opengroup.org:5555/osdu/platform/system/partition
    newTag: latest
  - name: community.opengroup.org:5555/osdu/platform/security-and-compliance/entitlements
    newTag: latest
  - name: community.opengroup.org:5555/osdu/platform/system/schema-service
    newTag: latest
  - name: community.opengroup.org:5555/osdu/platform/security-and-compliance/legal
    newTag: latest
  - name: community.opengroup.org:5555/osdu/platform/system/storage
    newTag: latest
  - name: community.opengroup.org:5555/osdu/platform/system/file
    newTag: latest
