apiVersion: apps/v1
kind: Deployment
metadata:
  name: osdu-entitlements
spec:
  template:
    spec:
      containers:
        - name: entitlements
          env:
            - name: ENTITLEMENTS_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: osdu-postgres-secret
                  key: POSTGRES_PASSWORD
