apiVersion: apps/v1
kind: Deployment
metadata:
  name: osdu-storage
spec:
  template:
    spec:
      containers:
        - name: storage
          env:
            # RabbitMQ retry bypass
            - name: OQM_RABBITMQ_RABBITMQRETRYDELAY
              value: "0"
            - name: RABBITMQ_RETRY_DELAY
              value: "0"
            - name: OQM_RABBITMQ_RETRY_DELAY
              value: "0"
            - name: OQM_RABBITMQ_RETRY_ENABLED
              value: "false"
            - name: RABBITMQ_RETRY_ENABLED
              value: "false"
            # RabbitMQ connection - ALL possible vhost variants
            - name: SPRING_RABBITMQ_HOST
              value: "osdu-rabbitmq.osdu-data.svc.cluster.local"
            - name: SPRING_RABBITMQ_PORT
              value: "5672"
            - name: SPRING_RABBITMQ_USERNAME
              value: "osdu"
            - name: SPRING_RABBITMQ_PASSWORD
              value: "osdu123"
            - name: SPRING_RABBITMQ_VIRTUAL_HOST
              value: "/"
            - name: SPRING_RABBITMQ_VIRTUALHOST
              value: "/"
            - name: OQM_RABBITMQ_AMQP_HOST
              value: "osdu-rabbitmq.osdu-data.svc.cluster.local"
            - name: OQM_RABBITMQ_AMQP_PORT
              value: "5672"
            - name: OQM_RABBITMQ_AMQP_USERNAME
              value: "osdu"
            - name: OQM_RABBITMQ_AMQP_PASSWORD
              value: "osdu123"
            - name: OQM_RABBITMQ_AMQP_VIRTUAL_HOST
              value: "/"
            - name: OQM_RABBITMQ_AMQP_VHOST
              value: "/"
            - name: OQM_RABBITMQ_AMQP_PATH
              value: "/"
            - name: OQM_RABBITMQ_VHOST
              value: "/"
            - name: OQM_RABBITMQ_VIRTUALHOST
              value: "/"
            - name: OQM_RABBITMQ_VIRTUAL_HOST
              value: "/"
            - name: RABBITMQ_VHOST
              value: "/"
            - name: RABBITMQ_VIRTUALHOST
              value: "/"
            - name: RABBITMQ_VIRTUAL_HOST
              value: "/"
            # Admin API
            - name: OQM_RABBITMQ_ADMIN_HOST
              value: "osdu-rabbitmq.osdu-data.svc.cluster.local"
            - name: OQM_RABBITMQ_ADMIN_PORT
              value: "15672"
            - name: OQM_RABBITMQ_ADMIN_SCHEMA
              value: "http"
            - name: OQM_RABBITMQ_ADMIN_USERNAME
              value: "osdu"
            - name: OQM_RABBITMQ_ADMIN_PASSWORD
              value: "osdu123"
            - name: OQM_RABBITMQ_ADMIN_PATH
              value: "/api"
            # Disable replay feature for POC (bypass dead-lettering check)
            - name: FEATURE_REPLAY_ENABLED
              value: "false"
            - name: DEAD_LETTERING_REQUIRED
              value: "false"
