apiVersion: apps/v1
kind: Deployment
metadata:
  name: osdu-storage
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: storage
          env:
            # Use RabbitMQ driver (image hardcodes RabbitMQ requirement)
            - name: OQM_DRIVER
              value: "rabbitmq"
            #   value: "kafka"
            # - name: KAFKA_BOOTSTRAP_SERVERS
            #   value: "osdu-redpanda.osdu-data.svc.cluster.local:9092"
