apiVersion: apps/v1
kind: Deployment
metadata:
  name: osdu-partition
spec:
  template:
    spec:
      containers:
        - name: partition
          env:
            # Issuer phải khớp với .well-known của Keycloak (thường là keycloak.internal)
            - name: KEYCLOAK_ISSUER_URI
              valueFrom:
                configMapKeyRef:
                  name: osdu-core-env
                  key: KEYCLOAK_ISSUER_URI
            - name: SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI
              value: "$(KEYCLOAK_ISSUER_URI)"
