apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-of-apps-observability
  namespace: argocd
spec:
  project: default
  source:
    repoURL: git@github.com:thucnguyen79/infra-osdu-do.git
    targetRevision: main
    path: k8s/gitops/apps/observability
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    syncOptions:
      - ServerSideApply=true
