apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
#  - namespace.yaml
  - marker-configmap.yaml

patches:
  - path: patches/patch-storageclass-postgres.yaml
  - path: patches/patch-storageclass-opensearch.yaml

