apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - marker-configmap.yaml
#  - namespace.yaml  # giữ comment nếu base đã có Namespace osdu-data (tránh duplicate)

patches:
  - path: patches/patch-opensearch-env-clean.yaml
  - path: patches/patch-opensearch-permissions.yaml
    target:
      group: apps
      version: v1
      kind: StatefulSet
      name: osdu-opensearch
      namespace: osdu-data
  #- path: patches/patch-postgres-initdb-job.yaml
  # PVC patches (bạn đã làm đúng hướng)
  - path: patches/patch-storageclass-postgres.yaml
    target:
      group: apps
      version: v1
      kind: StatefulSet
      name: osdu-postgres
      namespace: osdu-data

  - path: patches/patch-storageclass-opensearch.yaml
    target:
      group: apps
      version: v1
      kind: StatefulSet
      name: osdu-opensearch
      namespace: osdu-data

  # CRITICAL runtime fixes
  - path: patches/patch-postgres-pgdata.yaml
    target:
      group: apps
      version: v1
      kind: StatefulSet
      name: osdu-postgres
      namespace: osdu-data

  - path: patches/patch-opensearch-initial-admin-password.yaml
    target:
      group: apps
      version: v1
      kind: StatefulSet
      name: osdu-opensearch
      namespace: osdu-data

