apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: obs-loki
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "30"
spec:
  project: default
  source:
    repoURL: https://github.com/thucnguyen79/infra-osdu-do.git
    targetRevision: main
    path: k8s/addons/observability/logging-loki/overlays/do-private
  destination:
    server: https://kubernetes.default.svc
    namespace: observability
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
