apiVersion: ceph.rook.io/v1
kind: CephCluster
metadata:
  name: rook-ceph
spec:
  cephVersion:
    image: quay.io/ceph/ceph:v18.2.4
    allowUnsupported: false
  dataDirHostPath: /var/lib/rook

  mon:
    count: 1
    allowMultiplePerNode: true
  mgr:
    count: 1
    allowMultiplePerNode: true

  dashboard:
    enabled: false
  crashCollector:
    disable: true

  storage:
    useAllNodes: false
    useAllDevices: false
    storageClassDeviceSets:
      - name: osd-set
        count: 1
        portable: true
        tuneDeviceClass: true
        volumeClaimTemplates:
          - metadata:
              name: data
            spec:
              storageClassName: do-block-storage-retain
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 50Gi
              # Nếu DO CSI không hỗ trợ Block volumeMode, hãy xóa dòng này
              volumeMode: Block
