apiVersion: ceph.rook.io/v1
kind: CephObjectStore
metadata:
  name: osdu-store
spec:
  gateway:
    port: 80
    instances: 1
  metadataPool:
    failureDomain: host
    replicated:
      size: 1
  dataPool:
    failureDomain: host
    replicated:
      size: 1
