apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      version: v1
      kind: Service
      name: ingress-nginx-controller
      namespace: ingress-nginx
    path: patch-nodeport-json6902.yaml

  - path: patch-controller-scheduling.yaml
  - path: patch-controller-workers.yaml
