- op: add
  path: /spec/externalTrafficPolicy
  value: Local
- op: replace
  path: /spec/type
  value: NodePort
- op: add
  path: /spec/ports/0/nodePort
  value: 30080
- op: add
  path: /spec/ports/1/nodePort
  value: 30443
