apiVersion: v1
kind: Service
metadata:
  name: osdu-indexer
  labels:
    app: osdu-indexer
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  selector:
    app: osdu-indexer
