apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: osdu-postgres
  namespace: osdu-data
spec:
  template:
    spec:
      containers:
        - name: postgres
          env:
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata

