apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: osdu-opensearch
spec:
  template:
    spec:
      containers:
        - name: opensearch
          env:
            # Khuyến nghị thêm để tránh chạy demo installer trên môi trường nghiêm túc
            - name: DISABLE_INSTALL_DEMO_CONFIG
              value: "true"
            - name: OPENSEARCH_INITIAL_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: osdu-opensearch-secret
                  key: OPENSEARCH_INITIAL_ADMIN_PASSWORD

