apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: osdu-opensearch
  #namespace: osdu-data
spec:
  template:
    spec:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
      initContainers:
        - name: init-opensearch-data-perms
          image: busybox:1.36
          securityContext:
            runAsUser: 0
          command: ["sh","-c"]
          args:
            - |
              set -eux
              mkdir -p /usr/share/opensearch/data/nodes
              chown -R 1000:1000 /usr/share/opensearch/data
              chmod -R g+rwX /usr/share/opensearch/data
          volumeMounts:
            - name: data
              mountPath: /usr/share/opensearch/data
      containers:
        - name: opensearch
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            allowPrivilegeEscalation: false
