apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: osdu-opensearch
  namespace: osdu-data
spec:
  template:
    spec:
      containers:
        - name: opensearch
          env:
            - name: DISABLE_INSTALL_DEMO_CONFIG
              value: "true"
            - name: DISABLE_SECURITY_PLUGIN
              value: "true"
            # (Optional) nếu vẫn muốn set password từ secret thì giữ dòng dưới
            - name: OPENSEARCH_INITIAL_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: osdu-opensearch-secret
                  key: OPENSEARCH_INITIAL_ADMIN_PASSWORD

