apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: osdu-opensearch
  namespace: osdu-data
spec:
  template:
    spec:
      containers:
        - name: opensearch
          env:
            - name: DISABLE_INSTALL_DEMO_CONFIG
              value: "true"
            # Security plugin ENABLED (no DISABLE_SECURITY_PLUGIN)
