config:
  clients:
    - url: http://loki.observability.svc.cluster.local:3100/loki/api/v1/push

tolerations:
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Exists"
    effect: "NoSchedule"
  - key: "node-role.kubernetes.io/master"
    operator: "Exists"
    effect: "NoSchedule"
