deploymentMode: SingleBinary

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: 'filesystem'
    bucketNames:
      chunks: 'chunks'
      rules: 'rules'
      admin: 'admin'
  
  # Bổ sung Schema Config bắt buộc cho Loki 6.x
  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    storageClass: do-block-storage-retain
    size: 20Gi

# Tắt các thành phần Scalable để tránh xung đột
read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0

ingress:
  enabled: false
gateway:
  enabled: false
