apiVersion: apps/v1
kind: Deployment
metadata:
  name: osdu-storage
spec:
  template:
    spec:
      containers:
        - name: storage
          env:
            - name: STORAGE_AUTH_ENABLED
              value: "false"
            - name: SERVICE_SECURITY_ENABLED
              value: "false"
            - name: SPRING_AUTOCONFIGURE_EXCLUDE
              value: "org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration,org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration"
