apiVersion: v1
kind: ConfigMap
metadata:
  name: opensearch-security-config
  namespace: osdu-data
data:
  opensearch.yml: |
    cluster.name: docker-cluster
    network.host: 0.0.0.0
    discovery.type: single-node

    # Disable security plugin completely for POC
    plugins.security.disabled: true
