apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cmd-params-cm
data:
  # Khi TLS terminate ở ingress-nginx (cert-manager), để argocd-server chạy HTTP phía sau ingress
  server.insecure: "true"
