grafana:
  admin:
    existingSecret: grafana-admin
    userKey: admin-user
    passwordKey: admin-password
  service:
    type: ClusterIP
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: internal-ca
    hosts:
      - grafana.internal
    tls:
      - secretName: grafana-internal-tls
        hosts:
          - grafana.internal

prometheus:
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: internal-ca
    hosts:
      - prometheus.internal
    tls:
      - secretName: prometheus-internal-tls
        hosts:
          - prometheus.internal
  prometheusSpec:
    retention: 7d
    resources:
      requests:
        memory: "512Mi"
      limits:
        memory: "2Gi"
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: do-block-storage-retain
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 20Gi

alertmanager:
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      cert-manager.io/cluster-issuer: internal-ca
    hosts:
      - alertmanager.internal
    tls:
      - secretName: alertmanager-internal-tls
        hosts:
          - alertmanager.internal
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: do-block-storage-retain
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 5Gi
